article
  max-width 800px
  margin 0 auto
  padding 50px 0
  border-bottom 1px solid #ddd
  &:first-of-type
    padding-top 25px
    padding-top 0
  &:last-of-type
    padding-bottom 25px
    border none
  .title
    margin-top 0
    font-family "Lato"
    font-weight 600


article
  ul,
  ol
    margin-left 20px
    padding 0
    li
      margin-bottom 12px
      line-height 1.9

  p
    &:first-child
      margin-top 5px
    &:last-child
      margin-bottom 5px


.page-id-864
  article
    iframe
      width 100%