$linkhighlight = #22a7f0


$lightestgray = #f4f5f7
$lightestgray = #f7f7f7
$lightergray = #ebecee

$lightestblue = #6D8FAA
$brightblue = #00649c
$lightblue = #0067b5
$blue = #1A4F7A
$darkblue = #164164
$darkestblue = #11334E

$logoblue = #4077a0


$lightestteal = #8BBCC3
$lightteal = #4594A0
$teal = #006C7D
$darkteal = #006372
$darkestteal = #004550


$green = #4eaf39


$lightesttan = #EFEDDC
$lighttan = #E6E2C7
$tan = #DDD8B3
$darktan = #C9C5A3
$darkesttan = #8D8A72


$lightestyellow = #FCE1BA
$lightyellow = #FBCF91
$yellow = #FABE69
$darkyellow = #E4AD60
$darkestyellow = #A07943


$lightestorange = #ffc800
$lightorange = #ffb000
$orange = #FF8C00
$darkorange = #ff7500
$darkestorange = #ff5e00


$lightestred = #DAB1A5
$lightred = #C4836F
$red = #AF5539
$darkred = #A04E34
$darkestred = #703725