hr
  width 100%
  margin 10px auto
  border 0
  border-top 1px solid #ebecee
  &.push-up
    margin-top 25px
  &.push-down
    margin-bottom 25px


hr
  // Color
  &.invisible
    border-color transparent
  &.white
    border-color white

  // Style
  &.dashed
    border-style dashed

  // Size
  &.medium
    border-width 2px
