
// ---- COPYRIGHT ---- //
footer
  width 90vw
  max-width 1200px
  margin auto
  .links
    display flex
    justify-content center
    padding 75px 50px
    section
      margin 0 50px
      &:first-child
        margin-left 0
      &:last-child
        margin-right 0
      h3
        margin-top 0
        margin-bottom 30px
        font-family 'Lato'
        font-size .8em
        color #aaa
        text-transform uppercase
      p
        font-size .9em
        font-weight 500
        margin 20px 0

  .disclaimer
    font-size 13px
    color #999

  .copyright
    padding 25px 0 35px
    border-top 1px solid #ddd
    p
      display inline-block
      margin-right 35px
      font-size 13px
      font-weight normal
      &.year
        color $lightblue
        cursor default