// ---- SIZES ---- //
img
  &.third
    height auto
    width 75%


// ---- ALIGNMENT ---- //
img
  &.left
    float left
    margin-right 15px
  &.right
    float right
    margin-left 15px
  &.center
    display block
    margin-left auto
    margin-right auto


// ---- STYLES ---- //
img
  &.bordered
    border-radius 5px
    border 1px solid #ccc