sidebar
  flex-shrink 0
  width 250px
  min-width 250px
  margin-left 50px
  overflow hidden


// ---- WIDGETS ---- //
sidebar
  .widget
    margin-bottom 40px
    h4
      font-family "Lato"
      margin-top 0
      margin-bottom .5em

    .tab
      display flex
      align-items baseline
      padding 2px 8px
      border 1px solid transparent
      transition .075s ease-in-out
      p
        margin 0
      &:hover
        background-color #eee
        border-color #d5d5d5

    iframe
      width 100%
      border-radius 2px

    .textwidget
      .baseline
        margin 12px 0
        i
          margin-right 6px

    form.yikes-easy-mc-form
      input
        margin 7px 0
      button,
      input
        box-sizing border-box
        width 100%

    



// ---- ACCOUNTS ---- //
// sidebar
//   a
//     font-size .9em
//     font-weight 500
//     color $lightestteal
//     text-decoration none
//     p
//       box-sizing border-box
//       display block
//       width 180px
//       margin 0
//       padding 10px
//       border 0
//     &:hover,
//     &.is-active
//       color $lightteal
//       p
//         background-color $lightesttan



